alactritty
qtile
xorg
dmenu
firefox
python-pip
python
picom
nitrogen
Some wallpapers
alsa
pulseaudio
lightdm-slick-greeter
lightdm
nvim
keepassxc
thunar
restic
terminus-font-ttf 
networkmanager
flameshot
code

pip:
psutil 

YAY: 
nvchad
pacmixer
shell-color-scripts
