alactritty
qtile
xorg
dmenu
firefox
python-pip
python
picom
nitrogen
Some wallpapers
alsa
pulseaudio
lightdm-gtk-greeter
lightdm-slick-greeter
lightdm
nvim
keepassxc
thunar
restic
ttf-terminus-nerd
networkmanager
flameshot
code
git
python-psutil
htop

YAY: 
nvchad
pacmixer
shell-color-scripts
